.List{
    text-transform:capitalize;
    list-style-type: none;
    font-size: 20px;
    margin: 10px;
}
.enter{
    opacity: 0;
    transform: translateX(-100%);
}
.enterActive{
    opacity: 1;
    transform: translateX(0);
    transition:all 250ms linear;
}

.exit{
    opacity: 1;
    transform: translateX(0);
  
}
.exitActive{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 250ms linear;
}
 .contact{
     padding: .3em .7em;
     text-shadow:  #053852 -1px -1px;
     display:flex;
     margin: 10px;
 }
